<h1>Welcome to Scrabble</h1>
<form action="/word_form">
  <div class="form-group">
     <label for="title">Can you get a high score?</label>
     <input name="word_input" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-primary">Send</button>
</form>
